examples/n8n-workflow.json
{
  "name": "MO Process (Fillout → GH Actions → Gmail)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mo-process",
        "responseMode": "onReceived",
        "responseData": "noData",
        "options": {}
      },
      "id": "webhook-fillout",
      "name": "Fillout Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-720, 260],
      "webhookId": "mo-process"
    },
    {
      "parameters": {
        "jsCode": "// Transform the Fillout body into the shape run_mo_process.py expects.\n//\n// INPUT  (Fillout): $json.body.residentUrl, $json.body.charges[]\n//                    with { description, originalAmount, finalAmount, adjustmentReason }\n// OUTPUT (runner):  { leaseUrl, charges[{description, amount, category?}], email {} }\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst runnerPayload = {\n  leaseUrl: body.residentUrl,\n  charges: (body.charges || []).map(c => ({\n    description: c.description,\n    amount:      Number(c.finalAmount ?? c.originalAmount ?? 0),\n    category:    c.category || 'Cleaning/Damage Charges'\n  })),\n  email: {\n    enabled:  true,\n    from:     'property',\n    template: '***MO Docs Email'\n  },\n  docupost: (body.docupost || {\n    enabled:      true,\n    class:        'usps_first_class',\n    servicelevel: 'certified',\n    color:        false,\n    doublesided:  false\n  }),\n  outputDir: 'out'\n};\n\nreturn [{\n  json: {\n    runnerPayload,\n    fillout: body,\n    processId:      body.processId       || null,\n    submittedAt:    body.submittedAt     || null,\n    managerNotes:   body.managerNotes    || '',\n    reviewedBy:     body.reviewedBy      || null,\n    createdBy:      body.createdBy       || null,\n    // Keep resumeUrl handy for the HTTP node below.\n    resumeUrl:      $execution.resumeUrl\n  }\n}];\n"
      },
      "id": "code-transform",
      "name": "Transform Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/ymi-flowing/mo-process/actions/workflows/mo-process.yml/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept",     "value": "application/vnd.github+json" },
            { "name": "User-Agent", "value": "n8n-mo-process" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"payload\":    {{ JSON.stringify(JSON.stringify($json.runnerPayload)) }},\n    \"resume_url\": \"{{ $json.resumeUrl }}\",\n    \"no_send\":    \"false\"\n  }\n}",
        "options": {}
      },
      "id": "http-dispatch",
      "name": "Dispatch GH Actions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-240, 260],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_GITHUB_PAT_CREDENTIAL_ID",
          "name": "GitHub PAT (workflow scope)"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "callback"
        }
      },
      "id": "wait-callback",
      "name": "Wait for Runner Callback",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [0, 260],
      "webhookId": "mo-process-callback"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — build a styled HTML summary email from the MO Process run result.\n//\n// INPUT\n//   The Wait node resumes with the JSON POSTed by the GH Action.\n//   The whole runner result is at $json (or $json.body if wrapped).\n//\n// OUTPUT\n//   { ...runnerResult, htmlEmail, emailSubject, toEmail }\n//   Pipe `htmlEmail` into a Gmail node.\n//\n// Follows email-guidelines.md (SNS brand tokens).\n\nconst incoming = $input.first().json;\nconst data     = incoming.body || incoming;\n\n// --- Brand constants ---\nconst PRIMARY  = '#003f75';\nconst SUCCESS  = '#16a34a';\nconst ERROR    = '#dc2626';\nconst WARN     = '#d97706';\nconst LOGO_URL = 'https://www.dropbox.com/scl/fi/8i6y3e0lnjhm65s2ymhr9/SNS.jpg?rlkey=6ca6wtkxp5hr4l16ppu9hkj1z&raw=1';\n\nconst escapeHtml = (s) => String(s ?? '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nconst formatMoney = (v) => {\n  if (v == null || v === '') return '—';\n  const n = typeof v === 'number' ? v : Number(String(v).replace(/,/g,''));\n  return Number.isNaN(n) ? String(v) : '$' + n.toLocaleString('en-US',{minimumFractionDigits:2,maximumFractionDigits:2});\n};\n\n// --- Status pill / headline ---\nconst status = data.status || 'unknown';\nconst residentName = (data.resident && data.resident.name) || 'Unknown Resident';\nconst unit         = (data.resident && data.resident.unit) || '';\nconst property     = (data.resident && data.resident.property) || '';\nconst residentUrl  = (data.resident && data.resident.leaseUrl) || '#';\nconst runUrl       = (data.github   && data.github.runUrl)     || '#';\nlet statusLabel, statusColor, statusEmoji, headline, subtitle;\nif (status === 'sent') {\n  statusLabel='Sent'; statusColor=SUCCESS; statusEmoji='✅';\n  headline='Move-Out Documents Sent';\n  subtitle=`Final Account Statement + Claim Form sent to ${residentName}${unit?' (unit '+unit+')':''}.`;\n} else if (status === 'parked') {\n  statusLabel='Parked'; statusColor=WARN; statusEmoji='⏸️';\n  headline='MO Process Prepared (Dry Run)';\n  subtitle=`MOR was approved and docs uploaded for ${residentName}, but the resident email was NOT sent.`;\n} else if (status === 'sent_no_email') {\n  statusLabel='Docs Uploaded'; statusColor=WARN; statusEmoji='📎';\n  headline='MO Docs Uploaded (Email Skipped)';\n  subtitle=`Reconciliation completed for ${residentName}. Documents attached in ResMan, email step skipped.`;\n} else {\n  statusLabel='Error'; statusColor=ERROR; statusEmoji='⚠️';\n  headline='MO Process Failed';\n  subtitle=(data.error && data.error.message) ? data.error.message.split('\\n')[0] : 'Something went wrong.';\n}\n\n// --- Section cards ---\nconst sectionCard = (title, innerHtml) => `\n  <table role=\"presentation\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"\n    style=\"background:#fafafa; border:1px solid #eeeeee; border-radius:14px; margin-bottom:20px;\">\n    <tr><td style=\"padding:16px;\">\n      <div style=\"font-size:14px; line-height:20px; color:#111111; font-weight:800; margin:0 0 10px 0;\">${escapeHtml(title)}</div>\n      <ul style=\"margin:0; padding:0 0 0 18px; color:#222222; font-size:13px; line-height:20px;\">${innerHtml}</ul>\n    </td></tr>\n  </table>`;\n\nconst residentItems = [\n  ['Resident', residentName],\n  ['Unit',     unit || '—'],\n  ['Property', property || '—'],\n  ['Email',    (data.email && data.email.to) || (data.resident && data.resident.email) || '—'],\n  ['ResMan Lease', residentUrl !== '#' ? `<a href=\"${escapeHtml(residentUrl)}\" style=\"color:${PRIMARY};text-decoration:underline;\">Open</a>` : '—'],\n];\nconst residentHtml = residentItems.map(([k,v]) => `\n  <li style=\"margin:0 0 6px 0; border-bottom:1px solid #f0f0f0; padding-bottom:4px;\">\n    <span style=\"font-weight:800;\">${escapeHtml(k)}:</span> ${k==='ResMan Lease'?v:escapeHtml(v)}\n  </li>`).join('');\n\nconst chargesArr = (data.mor && data.mor.charges) || [];\nconst chargesHtml = chargesArr.length ? chargesArr.map((c) => `\n  <li style=\"margin:0 0 6px 0; border-bottom:1px solid #f0f0f0; padding-bottom:4px;\">\n    <span style=\"font-weight:800;\">${escapeHtml(c.description)}</span> · ${escapeHtml(c.category)} · ${formatMoney(c.amount)}\n  </li>`).join('') : `<li style=\"color:#666;\">(no charges added)</li>`;\n\nconst totals = (data.mor && data.mor.totals) || {};\nconst totalsItems = [\n  ['Current Open Balance',             totals.currentOpenBalanceTotal],\n  ['Final Move-Out Charges / Credits', totals.finalMoveOutChargesCreditsTotal],\n  ['Balance before Deposits',          totals.balanceBeforeDepositsTotal],\n  ['Available Deposit Applied',        totals.availableDepositApplied],\n  ['Deposit Refund',                   totals.depositRefund],\n  ['Payment / Credit Refund',          totals.paymentCreditRefund],\n  ['Balance Owed',                     totals.balanceOwed],\n];\nconst totalsHtml = totalsItems.map(([k,v]) => `\n  <li style=\"margin:0 0 6px 0; border-bottom:1px solid #f0f0f0; padding-bottom:4px;\">\n    <span style=\"font-weight:800;\">${escapeHtml(k)}:</span> ${formatMoney(v)}\n  </li>`).join('');\n\nconst fwd  = (data.mor && data.mor.forwardingAddress) || {};\nconst fwdSrc = (data.mor && data.mor.forwardingSource) || '—';\nconst fwdLines = [fwd.street, [fwd.city, fwd.state, fwd.zip].filter(Boolean).join(', ')].filter(Boolean);\nconst fwdHtml = fwdLines.length ? fwdLines.map((l) => `\n  <li style=\"margin:0 0 4px 0; color:#222;\">${escapeHtml(l)}</li>`).join('')\n  + `<li style=\"color:#666; font-size:12px; margin-top:6px;\">Source: ${escapeHtml(fwdSrc)}</li>`\n  : `<li style=\"color:#666;\">(no forwarding address on file)</li>`;\n\nconst email = data.email || {};\nconst emailItems = [\n  ['Resident Email Sent', email.sent ? '✓ Yes' : (email.attempted ? '✗ Attempted, not sent' : '✗ Skipped')],\n  ['From',                email.from    || '—'],\n  ['Template',            email.template || '—'],\n  ['Subject',             email.subject || '—'],\n  ['Attachments',         (email.attachedByResMan || []).length\n      ? (email.attachedByResMan || [])\n          .map((a) => `${a.checked ? '✓' : (a.missing ? '✗ MISSING' : '✗')} ${escapeHtml(a.name)}`)\n          .join('<br>')\n      : '—'],\n];\nconst emailCardHtml = emailItems.map(([k,v]) => {\n  const cell = (k === 'Attachments') ? v : escapeHtml(v);\n  return `\n  <li style=\"margin:0 0 6px 0; border-bottom:1px solid #f0f0f0; padding-bottom:4px;\">\n    <span style=\"font-weight:800;\">${escapeHtml(k)}:</span> ${cell}\n  </li>`;\n}).join('');\n\nconst dp = data.docupost;\nconst docupostHtml = dp ? [\n  ['Letter ID', dp.letterId || dp.letter_id || '—'],\n  ['Cost',      dp.cost != null ? formatMoney(dp.cost) : '—'],\n  ['Class',     dp.class || '—'],\n  ['Service',   dp.servicelevel || dp.service_level || '—'],\n].map(([k,v]) => `\n  <li style=\"margin:0 0 6px 0; border-bottom:1px solid #f0f0f0; padding-bottom:4px;\">\n    <span style=\"font-weight:800;\">${escapeHtml(k)}:</span> ${escapeHtml(v)}\n  </li>`).join('') : '';\n\nconst errorCard = (status === 'error' && data.error) ? `\n  <table role=\"presentation\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"\n    style=\"background:#fef2f2; border:1px solid #fecaca; border-radius:14px; margin-bottom:20px;\">\n    <tr><td style=\"padding:16px;\">\n      <div style=\"font-size:14px; font-weight:800; color:#991b1b; margin:0 0 8px 0;\">Error Detail (${escapeHtml(data.error.type || 'Error')})</div>\n      <pre style=\"margin:0; white-space:pre-wrap; word-break:break-word; font-family:'SFMono-Regular', Consolas, monospace; font-size:12px; color:#7f1d1d;\">${escapeHtml(data.error.message || '')}</pre>\n    </td></tr>\n  </table>` : '';\n\nconst htmlEmail = `<!DOCTYPE html>\n<html lang=\"en\"><head>\n<meta charset=\"UTF-8\" /><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n<meta name=\"x-apple-disable-message-reformatting\" /><title>${headline}</title>\n</head><body style=\"margin:0; padding:0; background-color:#f4f4f4; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, Helvetica, sans-serif;\">\n  <div style=\"display:none; font-size:1px; line-height:1px; max-height:0; max-width:0; opacity:0; overflow:hidden; mso-hide:all;\">\n    ${statusEmoji} ${headline} — ${escapeHtml(residentName)}\n  </div>\n  <table role=\"presentation\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#f4f4f4; padding:28px 0;\">\n    <tr><td align=\"center\" style=\"padding:0 12px;\">\n      <table role=\"presentation\" width=\"500\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"\n        style=\"width:500px; max-width:500px; background-color:#ffffff; border-radius:16px; overflow:hidden; box-shadow:0 6px 20px rgba(0,0,0,0.06);\">\n        <tr><td align=\"left\" style=\"padding:20px 26px; background-color:#ffffff; border-bottom:1px solid #eeeeee;\">\n          <div style=\"border-radius:8px; overflow:hidden; display:inline-block;\">\n            <img src=\"${LOGO_URL}\" height=\"45\" alt=\"SNS Logo\" style=\"display:block; border:0; outline:none; text-decoration:none; height:45px; width:auto;\" />\n          </div>\n        </td></tr>\n        <tr><td style=\"padding:26px;\">\n          <div style=\"display:inline-block; background-color:${statusColor}; color:#ffffff; padding:4px 12px; border-radius:999px; font-size:11px; font-weight:800; letter-spacing:0.4px; text-transform:uppercase; margin:0 0 12px 0;\">\n            ${statusEmoji} ${statusLabel}\n          </div>\n          <div style=\"margin:0 0 8px 0; font-size:22px; line-height:28px; color:#111111; font-weight:800;\">${headline}</div>\n          <div style=\"margin:0 0 20px 0; font-size:14px; line-height:22px; color:#333333;\">${escapeHtml(subtitle)}</div>\n          ${errorCard}\n          ${sectionCard('Resident', residentHtml)}\n          ${sectionCard('Move-Out Charges Added', chargesHtml)}\n          ${sectionCard('Reconciliation Totals',  totalsHtml)}\n          ${sectionCard('Forwarding Address',     fwdHtml)}\n          ${sectionCard('Email to Resident',      emailCardHtml)}\n          ${docupostHtml ? sectionCard('Certified Mail (Docupost)', docupostHtml) : ''}\n          <table role=\"presentation\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin:0 auto 12px auto;\">\n            <tr><td align=\"center\" style=\"background-color:${PRIMARY}; border-radius:10px;\">\n              <a href=\"${escapeHtml(residentUrl)}\" style=\"display:inline-block; padding:12px 24px; font-size:14px; font-weight:800; color:#ffffff; text-decoration:none;\">Open Resident in ResMan</a>\n            </td></tr>\n          </table>\n          <table role=\"presentation\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin:0 auto 4px auto;\">\n            <tr><td align=\"center\" style=\"background-color:#6b7280; border-radius:10px;\">\n              <a href=\"${escapeHtml(runUrl)}\" style=\"display:inline-block; padding:10px 22px; font-size:13px; font-weight:800; color:#ffffff; text-decoration:none;\">View Workflow Run</a>\n            </td></tr>\n          </table>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body></html>`;\n\nreturn [{\n  json: {\n    ...data,\n    htmlEmail,\n    emailSubject: `${statusEmoji} ${headline} — ${residentName}${unit?' · '+unit:''}`,\n    toEmail: 'ymoshe51@gmail.com'\n  }\n}];\n"
      },
      "id": "code-email",
      "name": "Build Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 260]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.toEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.htmlEmail }}",
        "options": {
          "appendAttribution": false,
          "bodyType": "html"
        }
      },
      "id": "gmail-send",
      "name": "Gmail Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [480, 260],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail — SNS assistant"
        }
      }
    }
  ],
  "connections": {
    "Fillout Webhook": {
      "main": [[{ "node": "Transform Payload", "type": "main", "index": 0 }]]
    },
    "Transform Payload": {
      "main": [[{ "node": "Dispatch GH Actions", "type": "main", "index": 0 }]]
    },
    "Dispatch GH Actions": {
      "main": [[{ "node": "Wait for Runner Callback", "type": "main", "index": 0 }]]
    },
    "Wait for Runner Callback": {
      "main": [[{ "node": "Build Email HTML", "type": "main", "index": 0 }]]
    },
    "Build Email HTML": {
      "main": [[{ "node": "Gmail Send", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
